.contact_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.contact_section h6 {
  font-size: 18px;
  font-weight: 800;
  max-width: 80%;
}
.contact_section p {
  font-weight: 500;
}