.contact_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 8px;
  height: 500px;
   /* Adjust margin to increase spacing between nav and content */
  
}

.contact_section h1 {
  font-size: 48px;
  font-weight: 800;
  max-width: 5%;
}
.contact_section p {
  font-size: 10px;
  font-weight: 500;
  line-height: 1.5;
  max-width: 35%;
}